body{
  background-color: rgb(255, 145, 227);
  color: white;
  font-family: cursive;
  text-align: center;
}
h1{
  color: rgb(255, 234, 234);
  font-family: bold;
  text-shadow: -2px 2px rgb(255, 196, 196);
  font-size: 40px;
}
img{
  float: center;
  border-color: rgb(255, 234, 234);
  border-width: 15px;
  border-style: solid;
  border-radius: 65px;
  border-style: double;
}
p{
  font-weight: bold;
  font-size: 20px;
}
h3{
text-align: left;
}
h2{
  color: rgb(255, 234, 234);
  font-family: bold;
  text-shadow: -2px 2px rgb(222, 161, 174);
  font-size: 30px;
}
.me{
color: rgb(255, 234, 234);
  font-family: bold;
  text-shadow: -2px 2px rgb(100, 28, 67);
}
.flower {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(230, 132, 200);


li {
  float: left;
  border-right:3px solid rgb(250, 190, 230) ;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(230, 170, 240);
}

.active {
  background-color: rgb(250, 190, 230);
}
