body{
   background-color: rgb(207, 255, 213);
  color: white;
  font-family: cursive;
  text-align: center;
}
h1{
  color: rgb(240, 255, 242);
  font-family: bold;
  text-shadow: -2px 2px rgb(46, 191, 65);
  font-size: 40px;
}
p{
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(74,96,74);
}
h2{
  color: rgb(240, 255, 242);
  font-family: bold;
  text-shadow: -2px 2px rgb(8, 61, 15);
  font-size: 30px;
}
.flower {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
  float: center;
  border-color: rgb(196, 164, 132);
  border-width: 15px;
  border-style: solid;
  border-radius: 65px;
  border-style: double;
